doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")      
    title BG AGH Main page
  body
    div.header
      div.menuleft
        a(href="/")
          div.logo
              img(src="img/logo-bg.svg")
        a(href="/books") Books
        if user && user.role == 'admin'
          a(href="/returned") LibraryManager
        else
          a(href="/rentedBooks") Borrowed
      div.menus
        if user
          a(href="/profile")
            div.profile
                  img(src="img/profile.png")
        else
          a(href="/login") Log in
          a(href="/signup" class="loginbutton") Sign up
     
    div.back-header
        h1 Biblioteka Główna AGH
        a(href="/books" class="loginbutton") See books
    //- div.mainPanel
    //-   div.bookPanel
    //-     each book in mainBooks
    //-       div.bookContainer
    //-         p #{book.title}
    //-         img.book(src=book.url, alt=book.title)


    div.stopka     
        p Biblioteka Główna Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie
        p tel. +48 12 617 32 08
        p e-mail: bgagh@bg.agh.edu.pl

