<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="login.css">
  <title>Login</title>
</head>

<body>
  <div class="header">
    <div class="menuleft">
      <a href="/">
        <div class="logo"><img src="img/logo-bg.svg"></div>
      </a>
      <a href="/books">Książki</a>
      <a href="/rentedBooks">Wypożyczone</a>
    </div>
    <div class="menus"><a href="/login">Login</a><a href="/login">Logout</a></div>
  </div>
  <div class="mainPanel">
    <div class="login-content">
      <img src="img/login.jpg" alt="Login Image">
      <div class="login-form">
        <h1>Login</h1>
        <form action="/login" method="post" onsubmit="return handleSubmit(event);">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required onchange="handleChange(event)"><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required onchange="handleChange(event)"><br>
          <input type="submit" value="Login">
        </form>
        <p class="error" id="login-error"></p>
      </div>
    </div>
  </div>
</body>

</html>