doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")      
    title Strona główna biblioteki AGH
  body
    div.header
      a(href="/")
        div.logo
            img(src="img/book.png")
      a(href="/")
        h1 Biblioteka
      div.menus
        a(href="/books") Książki
        a(href="/rentedBooks") Wypożyczone
      
    div.mainPanel
      h1 Akademia Górniczo Hutnicza
      div.bookPanel
        each book in mainBooks
          div.bookContainer
            p #{book.title}
            img.book(src=book.url, alt=book.title)

          
          
         

    div.stopka       
        p Kontakt
        p Telefon: 123 456 789
        p Adres mailowy: biblio@agh.edu.pl

