doctype html
html(lang="pl")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="stylesBookList.css")
    script(src="script.js")
    title Profil

  body
    div.header
      div.menuleft
        a(href="/")
          div.logo
              img(src="img/logo-bg.svg")
        a(href="/books") Książki
        a(href="/rentedBooks") Wypożyczone
      div.menus
        a(href="/profile")
          div.profile
                img(src="img/profile.png")
        a(href="/login" class="loginbutton") Zaloguj się

    .mainPanel
      .errorPanel
      .bookPanel
        h1 Nickname: #{username}
        a(href="/logout" class="loginbutton") Wyloguj się

    .stopka
      p Kontakt
      p Telefon: 123 456 789
      p Adres mailowy: biblio@agh.edu.pl