doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")

    title Zwrot książki
  body
    div.header
      div.menuleft
        a(href="/")
        div.logo
            img(src="img/logo-bg.svg")
            a(href="/books") Książki
      a(href="/")
        h1 Biblioteka
      div.menus
        a(href="/login") Login
        a(href="/logout") Logout
      
    div.mainPanel
      h1 Akademia Górniczo Hutnicza
      if error
        h2 #{errorMSG}
      else
        h2 Książka #{title} została zwrócona
        p Student: #{firstname} #{lastname}
        a(href="/")
            h1 POWRÓT 
          
          
         

    div.stopka     
        p Biblioteka Główna Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie
        p tel. +48 12 617 32 08
        p e-mail: bgagh@bg.agh.edu.pl

