.login-content {
    display: flex;
    justify-content: space-between;
}

.login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 50%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
    font-family: 'InterBold';
    color: #333;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: 'InterBold';
}

form input[type="submit"] {
    background-color: #1f201f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #616161;
}

.error {
    color: #ff1919;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}