@font-face {
    font-family: 'InterThin';
    src: url('../fonts/InterThin.eot');
    src: url('../fonts/InterThin.eot') format('embedded-opentype'),
        url('../fonts/InterThin.woff2') format('woff2'),
        url('../fonts/InterThin.woff') format('woff'),
        url('../fonts/InterThin.ttf') format('truetype'),
        url('../fonts/InterThin.svg#InterThin') format('svg');
}

@font-face {
    font-family: 'InterBold';
    src: url('../fonts/InterBold.eot');
    src: url('../fonts/InterBold.eot') format('embedded-opentype'),
        url('../fonts/InterBold.woff2') format('woff2'),
        url('../fonts/InterBold.woff') format('woff'),
        url('../fonts/InterBold.ttf') format('truetype'),
        url('../fonts/InterBold.svg#InterBold') format('svg');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/InterLight.eot');
    src: url('../fonts/InterLight.eot') format('embedded-opentype'),
        url('../fonts/InterLight.woff2') format('woff2'),
        url('../fonts/InterLight.woff') format('woff'),
        url('../fonts/InterLight.ttf') format('truetype'),
        url('../fonts/InterLight.svg#InterLight') format('svg');
}

@font-face {
    font-family: 'Inter-LightItalic';
    src: url('../fonts/Inter-LightItalic.eot');
    src: url('../fonts/Inter-LightItalic.eot') format('embedded-opentype'),
        url('../fonts/Inter-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter-LightItalic.woff') format('woff'),
        url('../fonts/Inter-LightItalic.ttf') format('truetype'),
        url('../fonts/Inter-LightItalic.svg#Inter-LightItalic') format('svg');
}


@keyframes example {
    from {
        transform: rotate(0);
    }

    to {
        margin-left: 100px;


        transform: rotate(360deg);
    }
}

#animate {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(242, 243, 246);
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.header {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #fff;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-family: 'InterLight';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header a:hover {
    color: rgb(130, 130, 130);
    transition: 0.4s;
}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    padding-top: 10px;
    padding-right: 20px;
}

.menus a {
    padding-right: 20px;
}

.mainPanel {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bookPanel {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.bookContainer {
    width: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.book {
    width: 20vw;
    height: auto;
}

.formPanel {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;


}

.formPanel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: solid black 1px;
    padding-bottom: 10px;
}

.formPanel input {
    margin-top: 10px;
    height: 50px;
    width: 90%;
    margin-bottom: 10px;
}

.formPanel form button {
    align-self: flex-end;
}

.stopka {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: lightgrey;
    justify-content: space-evenly;
}

.stopka p {
    font-weight: bold;
}

.errorPanel {
    display: flex;
    background-color: rgb(255, 49, 49);
    color: white;
    font-weight: bold;
    position: fixed;
    top: 50px;
    width: 50%;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'InterLight';
}

.menuleft {
    display: flex;
    justify-content: space-between;
}

.menuleft a {
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}